body {
  margin: 0;
  padding: 0;
  background-color: #273075;
  color: #FDCD09;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top:12%;

}

#title {
  font-size:3.3em;
  margin: 0;
}

#demo {
  margin: 0;
  font-size:15em;
  font-family: "Roboto", sans-serif;
}
#countdown {
  font-size:1.4em;
}
